.so-widget-sow-slider-default-c114a93e7d23 .sow-slider-base .sow-slider-pagination li a {
  background: #00a5af;
}
.so-widget-sow-slider-default-c114a93e7d23 .sow-slider-base .sow-slide-nav {
  font-size: 25px;
}
.so-widget-sow-slider-default-c114a93e7d23 .sow-slider-base .sow-slide-nav a {
  color: #00a5af;
}